:root {
    --margin-page: 60px;
    --color-primary: #1E1E1E ;
    --color-action: #EE0703 ;
    --color-star: #FA6901 ;
    --color-letters: #F2F2F2 ;
    --color-lettersone: #FEFCFD ;
}

@font-face {
    font-family: text;
    src: url(/Roboto-Bold.ttf);
}

* {
    padding: unset;
    margin: unset;
    border: unset;
    outline: unset;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    z-index: 50;
}

body {
    color: var(--color-lettersone);
    background-color: var(--color-primary);
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px var(--margin-page);
    background-color: #1E1E1E;
}
.menu ul {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    transition: background .3s ease-in-out;
}

.menu li {
    color: #F2F2F2;
    padding: 10px;
}

.menu li:hover {
    background-color: #940a07;
    border-radius: 10px;
}

.menu button {
    color: #F2F2F2;
    background-color: var(--color-action);
    border-radius: 10px;
    padding: 10px;
    transition: background .3s ease-in-out;
}

.menu button:hover {
    background-color: #fc3a36;
    transform: scale(1.1);
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(0deg, #1e1e1ea4, rgba(202, 202, 202, 0.137)),
        url('/jumbotron.jpg')
    ;
    background-size: cover;
    background-position: center;
    height: 560px;
}

.jumbotron h1 {
    font-family: text;
    font-size: 58px;
    color: #F2F2F2;
    padding: 10px var(--margin-page);
}

.jumbotron img {
    width: 30%;
    padding: 10px var(--margin-page);
}


.container-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    padding: 10px var(--margin-page);
    gap: 10px;
}

.card {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
}

.card > img {
    width: 100%;
    height: 150px;
    border-radius: 30%;
    object-fit: cover;

}

.card h2 {
    font-family: text;
    text-align: center;
    font-size: 24px;
    color: #F2F2F2;
    padding: 10px;
}

.card p {
    font-family: text;
    text-align: center;
    font-size: 16px;
    color: #F2F2F2;
    padding: 10px;
}

.card button {
    font-family: text;
    font-size: 16px;
    color: #F2F2F2;
    padding: 10px var(--margin-page);
    margin-top: 10px;
}

.card button:hover {
    transform: scale(1.1);
}

.estrellas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.buttoncard {
    color: #F2F2F2;
    background-color: var(--color-action);
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    transition: background .3s ease-in-out;
}

.buttoncard:hover {
    background-color: #fc3a36;
}

.jumbotron-dos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        url("/jumbotron-dos.jpg"),
        linear-gradient(0deg, #1e1e1ea4, rgba(202, 202, 202, 0.137))
        ;
    background-size: cover;
    background-position: center;
    height: 560px;
}

.jumbotron-dos h3 {
    font-family: text;
    font-size: 58px;
    color: #F2F2F2;
    padding: 10px var(--margin-page);
}

.jumbotron-dos > div {
    background-color: #1e1e1e80;
    padding: 10px var(--margin-page);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.jumbotron-dos form {
    background-color: #F2F2F2;
    padding-top: 10px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    width: max-content;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
}

.jumbotron-dos button {
    font-family: text;
    color:#1E1E1E;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.jumbotron-dos form input {
    background-color: transparent;
    color: #1E1E1E;
    font-family: text;
}
